* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: rgb(15, 15, 15);
}

header {
    background: #f0293e;
    color: #fff;
    text-align: center;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    text-align: center;
    padding: 0.5em 0;
    background: #333e5a;
    z-index: 2;
    position: fixed;
    width: 100vw;
    display: none;
}

video {
    /* object-fit: cover; */
    width: 100%;
    /* height: 100%; */
    box-sizing: border-box;
}

#zoom-slider {
    display: none;
}

#boundingBox, #ping {
    position: absolute;
    /* background: red; */
}

#ping p {
    color: white;
    text-shadow: 0 0 2px rgb(15, 15, 15);
}

#draggable {
    fill: none;
    stroke: rgb(255, 72, 0);
    stroke-width: 2;
}

#log {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#log img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}

#contr {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#snap {
    border: solid 5px white;
    background: transparent;
    width: 93px;
    height: 93px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgb(15, 15, 15);
    cursor: pointer;
}

#convert, #back {
    padding: 15px 25px;
    border: solid white 2px;
    font-size: xx-large;
    text-transform: uppercase;
    background: transparent;
    color: white;
    margin: 0 10px;
    box-shadow: 0 0 10px rgb(15, 15, 15);
    cursor: pointer;
}

#nav {
    display: flex;
    width: fit-content;
    height: fit-content;
}

#converted {
    display: none;
}

#converted * {
    max-width: 100% !important;
    max-height: 100% !important;
}

.handle {
    position: absolute;
    border: 0.1em solid black;
    width: 1em;
    height: 1em;
}

#startCover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 15, 15);
    z-index: 10;
}

#start {
    width: 300px;
    height: 75px;
    color: white;
    background: transparent;
    font-size: xx-large;
    border: solid white 2px;
    cursor: pointer;
}

#loading {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(15, 15, 15);
}

#loading h1 {
    font-size: xx-large;
    color: white;
}