body{
    padding: 0;
    margin: 0;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: url("assets/komischer_smiley.png");*/
}

canvas {
    z-index: -1;
}