body{
    padding: 0;
    margin: 0;
    width:100vw;
    height: 100vh;
    overflow:hidden;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    /*background: url("assets/komischer_smiley.png");*/
}

main {
    position: absolute;
    left: 0;
    top: 0;
}

canvas {
    z-index: -1;
    position:absolute;
}

.returnBtn {
    position: absolute;
    z-index: 100;
    background:  white;
    border: 1px black solid;
    padding:  3vw 5vw;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    
}

.returnBtn:hover {
    cursor: pointer;
}